p, h1, h3 {
  border: none;
  outline: none;
}

/* Related to speed dial */
.editable-element-container {
  position: relative;
}

.speed-dial-container {
  position: absolute;
  top: -5px;
  /* top: 0; */
  left: -70px; /* adjust to your margin size */
  z-index: 1;
}

.title{
  margin-top: 24px;
  margin-bottom: 24px;
}

.subtitle{
  margin-top: 16px;
  margin-bottom: 16px;
}

.paragraph{
  margin-top: 12px;
  margin-bottom: 12px;
}