<div
  class="uk-container uk-container-small uk-margin-auto uk-margin-auto-vertical uk-width-4-5@s uk-width-3-5@m"
>
  <!-- <div
    *ngIf="tooltipVisible"
    class="tooltip"
    [ngStyle]="{ 'left.px': tooltipLeft, 'top.px': tooltipTop }"
  >
    <div class="items">
      <div
        class="uk-icon item"
        [ngClass]="{
          disabled: tooltipLink.disabled,
          selected: tooltipLink.selected
        }"
        uk-icon="icon: link; ratio: 1.2"
        (click)="onLinkSelection()"
      ></div>
      <div class="divider"></div>
      <div
        class="uk-icon item"
        [ngClass]="{
          disabled: tooltipTitle.disabled,
          selected: tooltipTitle.selected
        }"
        (click)="onTooltipSelection('title')"
      >
        <span>
          <svg width="21" height="21">
            <path
              d="M3 2v4.747h1.656l.383-2.568.384-.311h3.88V15.82l-.408.38-1.56.12V18h7.174v-1.68l-1.56-.12-.407-.38V3.868h3.879l.36.311.4072.568h1.656V2z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </span>
      </div>
      <div
        class="uk-icon item"
        [ngClass]="{
          disabled: tooltipSubtitle.disabled,
          selected: tooltipSubtitle.selected
        }"
        (click)="onTooltipSelection('subtitle')"
      >
        <span>
          <svg width="21" height="21">
            <path
              d="M4 5.5v4.74h1.657l.384-2.569.384-.312h2.733v8.461l-.41.38-1.91.12V18h7.179v-1.68l-1.912-.12-.405-.38V7.359h2.729l.36.312.408 2.57h1.657V5.5z"
              fill-rule="evenodd"
            ></path>
          </svg>
        </span>
      </div>
    </div>
  </div>
  <div
    *ngIf="tooltipLinkVisible"
    class="tooltip"
    [ngStyle]="{ 'left.px': tooltipLeft, 'top.px': tooltipTop }"
  >
    <div class="items">
      <div
        #linkInput
        contenteditable="true"
        class="item link-input"
        (blur)="this.tooltipLinkVisible = false"
      ></div>
      <div
        class="uk-icon item"
        uk-icon="close"
        (click)="restoreSelection()"
      ></div>
    </div>
  </div> -->
  <app-tooltip (operation)="onTooltipSelection($event)"></app-tooltip>
  <article
    id="editor-container"
    class="uk-article"
    (mouseup)="onMouseUp()"
    (mousedown)="onMouseDown()"
  >
  <!-- For test only -->
    <!-- <p id="txt-0000000001-Paragraph" contenteditable="true">
      Paragraph with only text
    </p>
    <p id="txt-0000000002-Paragraph" contenteditable="true">
      Paragrapgh with
      <a id="txt-0000000002-Paragraph-anchor-1" href="#">Links</a> more text
      <a id="txt-0000000002-Paragraph-anchor-2" href="#">And more links</a>
    </p>
    <h1 id="txt-0000000003-Title" contenteditable="true">Title</h1>
    <h3 id="txt-0000000004-Subtitle" contenteditable="true">Subtitle</h3>
    <ul id="lst-0000000005" contenteditable="true">
      <li id="lst-0000000005-lsi-1">List Item with only text</li>
      <li id="lst-0000000005-lsi-2">
        List Item with Paragrapgh with
        <a id="lst-0000000005-lsi-2-anchor-1" href="#">Links</a> more text
        <a id="lst-0000000005-lsi-2-anchor-2" href="#">And more links</a>
      </li>
    </ul> -->
    <ng-container #container></ng-container>
  </article>
</div>
