<app-tooltip (operation)="onTooltipSelection($event)"></app-tooltip>
<div class="full-div" (mouseup)="onMouseUp()" (mousedown)="onMouseDown()">
  <div
    class="uk-container uk-container-small uk-margin-auto uk-margin-auto-vertical uk-width-4-5@s uk-width-3-5@m"
  >
    <article id="editor-container" class="uk-article">
      <!-- <p>
        This text is just to see <b>bold text</b>, also <i>italic text</i> and
        finally <s>striketrough text</s>
      </p> -->
      <!-- <app-image></app-image> -->
      <ng-container #container></ng-container>
    </article>
  </div>
</div>
