.image-container {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}

.dropdown-container {
  position: absolute;
  top: 0;
  left: -50px;
  z-index: 1;
}

.figure img {
  max-width: 100%;
  padding: 0px;
  margin-bottom: 10px;
}

.image-caption {
  border: none;
  outline: none;
}

.image-caption:empty::before {
  content: attr(data-placeholder);
}