.image-container {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}

.dropdown-container {
  position: absolute;
  top: 0;
  left: -50px;
  z-index: 1;
}

.image-caption {
  position: absolute;
  width: 100%;
  padding: 10px;
}