<div class="image-container">
  <div class="uk-container">
    <img [src]="src" [alt]="alt" class="uk-width-1-1 uk-align-center" />
  </div>
  <caption class="uk-text-meta uk-text-center image-caption">
  </caption>
  <div class="uk-margin dropdown-container" uk-margin>
    <div class="uk-inline">
      <a class="uk-icon-button uk-margin-small-right" uk-icon="menu"></a>
      <div uk-dropdown="animation: slide-top; animate-out: true; duration: 700">
        <ul class="uk-nav uk-dropdown-nav dropdown-scroll">
          <li><a>Change Image URL</a></li>
          <li><a>Change Alt Text</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>