<nav class="uk-navbar-container">
  <div class="uk-container">
    <div uk-navbar="mode: click">
      <div class="uk-navbar-left">
        <a
          [routerLink]="['']"
          class="uk-navbar-item uk-logo"
          aria-label="Back to Home"
          ><h1>predel's</h1></a
        >
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <ng-container  *ngIf="!isLogged()">
            <li>
              <a [routerLink]="['editor/trial-mode']">
                <span
                  class="uk-icon uk-margin-small-right"
                  uk-icon="icon: file-edit; ratio: 1.5"
                ></span>
              </a>
            </li>
          </ng-container>
          <ng-container *ngIf="isLogged()">
            <li>
              <a [routerLink]="['editor/new']">
                <span
                  class="uk-icon uk-margin-small-right"
                  uk-icon="icon: file-edit; ratio: 1.5"
                ></span>
              </a>
            </li>
          </ng-container>
          <!-- If user is not logged this icon will be displayed -->
          <ng-container *ngIf="!isLogged()">
            <li>
              <a>
                <span
                  class="uk-icon uk-margin-small-right"
                  uk-icon="icon: user; ratio: 1.5"
                ></span>
              </a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li>
                    <a [routerLink]="['user/sign-up']">
                      <span
                        class="uk-icon uk-margin-small-right"
                        uk-icon="icon: user; ratio: 1.5"
                      ></span
                      >Sign Up</a
                    >
                  </li>
                  <li>
                    <a [routerLink]="['user/login']">
                      <span
                        class="uk-icon uk-margin-small-right"
                        uk-icon="icon: sign-in; ratio: 1.5"
                      ></span
                      >Log In</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ng-container>
          <!-- Otherwise if the user is logged, a profile image or icon will be displayed instead -->
          <ng-container *ngIf="isLogged()">
            <li>
              <div class="uk-navbar-item">
                <div class="image-container">
                  <img [src]="getProfileImageUrl()" alt="Profile Image" loading="lazy" />
                </div>
              </div>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <!-- <li>
                    <a>
                      <span
                        class="uk-icon uk-margin-small-right"
                        uk-icon="icon: user; ratio: 1.5"
                      ></span
                      >Profile</a
                    >
                  </li>
                  <li>
                    <a>
                      <span
                        class="uk-icon uk-margin-small-right"
                        uk-icon="icon: album; ratio: 1.5"
                      ></span
                      >Library</a
                    >
                  </li>
                  <li class="uk-nav-divider"></li> -->
                  <li (click)="logout()">
                    <a>
                      <span
                        class="uk-icon uk-margin-small-right"
                        uk-icon="icon: sign-out; ratio: 1.5"
                      ></span
                      >Log Out</a
                    >
                  </li>
                </ul>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
