<div class="button-container">
  <a
    *ngIf="!open"
    (click)="toggleMenu()"
    id="mainButton"
    class="uk-icon-button main-button"
    uk-icon="plus"
  ></a>
  <a
    *ngIf="open"
    (click)="toggleMenu()"
    id="mainButton"
    class="uk-icon-button main-button"
    uk-icon="close"
  ></a>
  <div *ngIf="open" class="options-container">
    <a (click)="setSection('IMAGE')" class="uk-icon-button circle-button" uk-icon="image" uk-tooltip="Add an image file"></a>
    <a (click)="setSection('CODE-SNIPPET')" class="uk-icon-button circle-button" uk-icon="code" uk-tooltip="Add new code block"></a>
  </div>
</div>
