<div class="button-container">
  <a
    *ngIf="!open"
    (click)="openMenu()"
    id="mainButton"
    class="uk-icon-button main-button"
    uk-icon="plus"
  ></a>
  <a
    *ngIf="open"
    (click)="closeMenu()"
    id="mainButton"
    class="uk-icon-button main-button"
    uk-icon="close"
  ></a>
  <div *ngIf="open" class="options-container">
    <a
      uk-toggle="target: #image-modal"
      class="uk-icon-button circle-button"
      uk-icon="image"
      uk-tooltip="Add an image file"
    ></a>
    <a
      (click)="setSection('CODE-SNIPPET')"
      class="uk-icon-button circle-button"
      uk-icon="code"
      uk-tooltip="Add new code block"
    ></a>
  </div>
</div>

<div id="image-modal" uk-modal>
  <div class="uk-modal-dialog">
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">Image</h2>
    </div>
    <div class="uk-modal-body">
      <form [formGroup]="imageForm" class="uk-form-stacked">
        <div class="uk-margin">
          <label class="uk-form-label" for="image-url">URL</label>
          <div class="uk-form-controls">
            <input
              formControlName="src"
              class="uk-input"
              [ngClass]="{
                'uk-form-danger':
                  !imageForm.get('src')?.valid && imageForm.get('src')?.touched,
                'uk-form-success':
                  imageForm.get('src')?.valid && imageForm.get('src')?.touched
              }"
              id="image-url"
              type="text"
              placeholder="https://image-example.com"
            />
          </div>
          <div
            *ngIf="
              imageForm.get('src')?.hasError('required') &&
              imageForm.get('src')?.touched
            "
            class="uk-text-meta uk-text-danger"
          >
            The URL is required
          </div>
          <div
            *ngIf="
              imageForm.get('src')?.hasError('urlError') &&
              imageForm.get('src')?.touched
            "
            class="uk-text-meta uk-text-danger"
          >
            The provided URL does not point to a valid image
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="image-alt">Alt Text</label>
          <div class="uk-form-controls">
            <input
              formControlName="alt"
              class="uk-input"
              id="image-alt"
              type="text"
              placeholder="Describing text for the image (Optional)"
            />
          </div>
        </div>

        <div class="uk-text-right">
          <button
            class="uk-button uk-button-default uk-modal-close"
            type="button"
          >
            Cancel
          </button>
          <button
            class="uk-button uk-button-primary uk-modal-close"
            type="button"
            [disabled]="imageForm.invalid"
            (click)="onSubmit()"
          >
            Add
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
