<div class="button-container">
  <!-- <button id="mainButton" class="main-button" (click)="toggleMenu()">
    <span *ngIf="!open">+</span>
    <span *ngIf="open">x</span>
  </button> -->
  <a
    *ngIf="!open"
    (click)="toggleMenu()"
    id="mainButton"
    class="uk-icon-button main-button"
    uk-icon="plus"
  ></a>
  <a
    *ngIf="open"
    (click)="toggleMenu()"
    id="mainButton"
    class="uk-icon-button main-button"
    uk-icon="close"
  ></a>
  <div *ngIf="open" class="options-container">
    <a class="uk-icon-button circle-button" uk-icon="image" uk-tooltip="Add an image file"></a>
    <!-- <a class="uk-icon-button circle-button" uk-icon="list"></a> -->
    <a class="uk-icon-button circle-button" uk-icon="code" uk-tooltip="Add new code block"></a>
  </div>
</div>
